<header class="border-bottom border-dark">
    <h1>Ezapiya.com</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/find">Find </a></li>
            <li><a href="/viewAll">View All Record </a></li>
        </ul>
    </nav>
</header>
